In [112]:
import pandas as pd
from sklearn.utils import shuffle

data_dir = 'data'
dataset_file = '{}/combined_result_small.tsv'.format(data_dir)
embeddings_file = '{}/embedding_results_small.csv'.format(data_dir)

# load csv with combined news headlines, deltas as labels
# label, delta, embedding(512)

dataset = pd.read_table(dataset_file)
embeddings = np.loadtxt(embeddings_file, delimiter=', ')
df_emb = pd.DataFrame(embeddings, dtype=np.float32)
dataset = dataset.join(df_emb)

labels = dataset['sp_label']

In [113]:
dataset

,date,title,hostname,category,djia_label,djia_delta,sp_label,sp_delta,0,1,...,502,503,504,505,506,507,508,509,510,511
0,2014-03-10,"Fed official says weak data caused by weather,...",www.latimes.com,b,1,34.419921,1,0.689941,0.045792,0.032694,...,-0.050053,-0.024284,0.057815,0.016971,0.070759,-0.041065,0.010544,0.029386,-0.021765,-0.047773
1,2014-03-10,Fed's Charles Plosser sees high bar for change...,www.livemint.com,b,1,34.419921,1,0.689941,0.081211,-0.047516,...,0.017997,-0.026655,0.060716,-0.015616,0.049736,-0.059946,0.019903,-0.068526,-0.013176,-0.014035
2,2014-03-10,US open: Stocks fall after Fed official hints ...,www.ifamagazine.com,b,1,34.419921,1,0.689941,0.005970,-0.058425,...,-0.029603,0.056115,0.080547,0.023326,0.070825,-0.057824,0.023803,-0.036941,-0.020462,0.022150
3,2014-03-10,"Fed risks falling 'behind the curve', Charles ...",www.ifamagazine.com,b,1,34.419921,1,0.689941,0.065147,0.037219,...,0.005076,-0.059531,0.062604,-0.026179,0.036288,-0.077792,0.039383,-0.027129,-0.066182,-0.060142

In [97]:
embeddings

array([[ 0.04579201,  0.03269383, -0.00375404, ...,  0.02938574,
        -0.02176463, -0.04777297],
       [ 0.08121132, -0.04751555, -0.02871752, ..., -0.06852572,
        -0.0131758 , -0.01403511],
       [ 0.00597012, -0.05842545, -0.06021343, ..., -0.03694149,
        -0.02046196,  0.02215034],
       [ 0.06514721,  0.03721883, -0.0392865 , ..., -0.02712923,
        -0.06618198, -0.0601415 ]])

In [108]:
df_emb

,0,1,2,3,4,5,6,7,8,9,...,502,503,504,505,506,507,508,509,510,511
0,0.045792,0.032694,-0.003754,-0.056355,-0.037867,-0.024071,0.069331,-0.041297,-0.077291,0.052705,...,-0.050053,-0.024284,0.057815,0.016971,0.070759,-0.041065,0.010544,0.029386,-0.021765,-0.047773
1,0.081211,-0.047516,-0.028718,0.017213,-0.087732,-0.049230,0.065780,-0.041025,-0.078158,-0.016287,...,0.017997,-0.026655,0.060716,-0.015616,0.049736,-0.059946,0.019903,-0.068526,-0.013176,-0.014035
2,0.005970,-0.058425,-0.060213,-0.049445,-0.073031,0.022113,0.079156,-0.067957,-0.070598,0.050307,...,-0.029603,0.056115,0.080547,0.023326,0.070825,-0.057824,0.023803,-0.036941,-0.020462,0.022150
3,0.065147,0.037219,-0.039287,0.043159,-0.073974,0.011312,0.096848,-0.052425,-0.067594,0.050576,...,0.005076,-0.059531,0.062604,-0.026179,0.036288,-0.077792,0.039383,-0.027129,-0.066182,-0.060142

In [98]:
shuf(dataset)[0]

array([['2014-03-10',
        "Fed's Charles Plosser sees high bar for change in pace of tapering",
        'www.livemint.com', 'b', 1, 34.419921, 1, 0.689941],
       ['2014-03-10',
        'US open: Stocks fall after Fed official hints at accelerated tapering',
        'www.ifamagazine.com', 'b', 1, 34.419921, 1, 0.689941],
       ['2014-03-10',
        'Fed official says weak data caused by weather, should not slow taper',
        'www.latimes.com', 'b', 1, 34.419921, 1, 0.689941]], dtype=object)

In [99]:
shuf(embeddings)[0]

array([[ 0.00597012, -0.05842545, -0.06021343, ..., -0.03694149,
        -0.02046196,  0.02215034],
       [ 0.04579201,  0.03269383, -0.00375404, ...,  0.02938574,
        -0.02176463, -0.04777297],
       [ 0.08121132, -0.04751555, -0.02871752, ..., -0.06852572,
        -0.0131758 , -0.01403511]])

In [93]:
def shuf(collection):
    np.random.seed(7)
    rnd.shuffle(collection) # shuffles the ordering of filenames (deterministic given the chosen seed)

    split_1 = int(0.8 * len(collection))
    split_2 = int(0.9 * len(collection))
    train_filenames = collection[:split_1]
    dev_filenames = collection[split_1:split_2]
    test_filenames = collection[split_2:]
    return train_filenames, dev_filenames, test_filenames

In [94]:
def df_shuf(collection):
    np.random.seed(7)
    collection.sample(frac=1, random_state=rnd)  # shuffles the ordering of filenames (deterministic given the chosen seed)

    split_1 = int(0.8 * len(collection))
    split_2 = int(0.9 * len(collection))
    train_filenames = collection[:split_1]
    dev_filenames = collection[split_1:split_2]
    test_filenames = collection[split_2:]
    return train_filenames, dev_filenames, test_filenames